.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.row {
    flex: 1;
    width: 100%;
    display: flex;
}

.row div {
    position: relative;
    flex: 1;
    background: #667067;
    margin: -0.25px;
    transform-origin: top;
}